useDynLib(psbcGroup) 

export(psbcEN)
export(psbcFL)
export(psbcGL)
export(aftGL)

importFrom(LearnBayes, rigamma)
import(SuppDists)
import(mvtnorm)

importFrom("stats", "dnorm", "rgamma", "rnorm", "runif")

