useDynLib(psbcGroup, .registration = TRUE) 

export(psbcEN)
export(psbcFL)
export(psbcGL)
export(aftGL)
export(VS)

importFrom(LearnBayes, rigamma)
import(SuppDists)
import(mvtnorm)

importFrom("stats", "dnorm", "rgamma", "rnorm", "runif", "lm", "coef", "sd")
importFrom("survival", "coxph")

